/* game board table */

td {
  width: 50px;
  height: 50px;
  border: solid 1px black;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.p1 {
  background-color: red;
}

.p2 {
  background-color: blue;
}

#column-top * {
  border-color: grey;
  border-style: dotted;
}

#board * :not(.piece) {
  border-radius: 25px;
  background-color: white;
}

#board {
  background-color: skyblue;
  border-radius: 15px;
}
/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

/* TODO: make column-top row lighter and provide hover effect */
